.departments-container {
  max-width: 800px;
}

.department-course-col {
  background: linear-gradient(to right, #cc2b5e, #753a88);
  height: 140px;
  flex: 0 0 calc(140px * 1.1);
  /*☝️ the Last value of flex represents the width.
  Width will always be 10% (1.1) more than the height.*/
}

.department-course-col:hover,
.department-course-col:focus {
  background: linear-gradient(to right, #9a1d45, #4e2663);
}

.department-course-col:active {
  opacity: 0.5;
}

/*----- Media Quries -----*/

/* Between 500px to 800px */
@media screen and (min-width: 500px) and (max-width: 800px) {
  .department-course-col {
    height: 160px;
    flex: 0 0 calc(160px * 1.1);
  }
}

/* Between 800px and above */
@media screen and (min-width: 800px) {
  .department-course-col {
    height: 210px;
    flex: 0 0 calc(210px * 1.1);
  }
}
