.departments-page-container__div-box {
  background: var(--card-gradient);
  width: 140px;
  height: 130px;
}

.department-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/* EFFECTS (hover, active) */
.departments-page-container__div-box:hover {
  background: var(--card-hover);
  cursor: pointer;
}

.departments-page-container__div-box:active {
  background: var(--card-active);
}

.department-link:hover, .department-link:active  {
  color: #f8f9fa; /*Bootstrap's light color*/
}

/* MEDIA QUERIES */

/* 576px to 767px */
@media (min-width: 576px) and (max-width: 768px) {
  .departments-page-container__div-box {
    width: calc(130px * 1.25);
    height: calc(130px * 1.15);
  }
}

/* 768px to 991px */
@media (min-width: 768px) and (max-width: 992px){
  .departments-page-container__div-box {
    width: calc(130px * 1.40);
    height: calc(130px * 1.25);
  }
}

/* 992px to 1199px */
@media (min-width: 992px) and (max-width: 1200px){
  .departments-page-container__div-box {
    width: calc(130px * 1.55);
    height: calc(130px * 1.35);
  }
}

/* 1200px to 1399px */
@media (min-width: 1200px) and (max-width: 1400px){
  .departments-page-container__div-box {
    width: calc(130px * 1.65);
    height: calc(130px * 1.45);
  }
}

/* 1400px and above */
@media (min-width: 1400px){
  .departments-page-container__div-box {
    width: calc(130px * 1.80);
    height: calc(130px * 1.55);
  }
}