.faculties-page-container__faculty {
  background: var(--card-gradient);
  width: 47%;
  height: 170px;
  max-width: 225px;
}

.faculty-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/* EFFECTS (hover, active) */
.faculties-page-container__faculty:hover {
  background: var(--card-hover); 
  cursor: pointer;
}

.faculties-page-container__faculty:active {
  background: var(--card-active);
}

.faculty-link:hover {
  color: #f8f9fa; /*Bootstrap's light color*/
}

/* MEDIA QUERIES */

/* 768px and above */
@media (min-width: 768px) {
  .faculties-page-container__faculty {
    width: 24%;
    height: 160px;
  }
}

/* 992px and above */
@media (min-width: 992px) {
  .faculties-page-container__faculty {
    width: 24%;
    height: 200px;
  }
}

