.server-side-error-div {
  width: fit-content;
  background-color: antiquewhite;
}

.server-side-error-msg {
  color: #f54242;
}

.login-page-container__form {
  max-width: 450px;
}

.login-page-container__button {
  background-color: var(--btn-bg-color);
  color: var(--text-color-primary);
}

/* EFFECTS */

.login-page-container__button:hover {
  background-color: var(--link-hover);
  color: var(--text-color-primary);
}