.server-side-error-div {
  width: fit-content;
  background-color: antiquewhite;
}

.server-side-error-msg {
  color: #f54242;
}

.login-page-container__form {
  max-width: 450px;
}

.login-page-container__button {
  background-color: var(--btn-bg-color);
  color: var(--text-color-primary);
}

.reset-password-link,
.signup-link {
  color: #71bcf5;
}

/* EFFECTS */

.login-page-container__button:hover,
.login-page-container__button:active {
  background-color: var(--link-hover);
  color: var(--text-color-primary);
}

.reset-password-link:hover,
.signup-link:hover,
.reset-password-link:active,
.signup-link:active {
  color: red;
}
