.myposts-flex-container * {
  color: black;
}

.myposts-page-container__post {
  background: rgb(220, 220, 227);
  background: -moz-linear-gradient(90deg, rgba(220, 220, 227, 1) 0%, rgba(0, 224, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(220, 220, 227, 1) 0%, rgba(0, 224, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(220, 220, 227, 1) 0%, rgba(0, 224, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcdce3",endColorstr="#00e0ff",GradientType=1);

  height: 160px;
  width: 320px;
}

.delete-post-btn {
  float: left;
}

/* MEDIA QUERIES */

/* screens 576px and above */
@media (min-width: 576px) {
  .myposts-page-container__post {
    height: 220px;
    width: 440px;
  }

  .post-title {
    font-size: 18px;
  }

  .post-date,
  .post-username {
    font-size: 16px;
  }
}

/* screens 1300px and above */
@media (min-width: 1300px) {
  .myposts-page-container__post {
    height: 300px;
    width: 600px;
  }

  .post-title {
    font-size: 22px;
  }

  .post-date,
  .post-username {
    font-size: 18px;
  }

  .post-user-icon,
  .post-file-icon {
    height: 40px;
    width: 40px;
  }
}
