.posts-page-container__post {
  background-color: #32f07e;
  height: 160px;
  width: 90%;
}

.add-post-btn:hover {
  background-color: var(--link-hover);
  color: var(--text-color-primary);
}

.fileLink {
  color: blue;
}

.fileLink:hover {
  color: var(--link-hover);
}

/* MEDIA QUERIES */

/* 992px and above */
@media (min-width: 992px) {
  .posts-page-container__post {
    width: 48%;
    height: 220px;
  }
}
