.signup-page-container {
  color: var(--text-color-primary);
}

.form-check {
  width: fit-content;
}

.signup-page-container__form {
  max-width: 450px;
}

.gender-label {
  width: 100%;
}

.signup-page-container__button {
  background-color: var(--btn-bg-color);
  color: var(--text-color-primary);
}

/* EFFECTS */

.signup-page-container__button:hover,
.signup-page-container__button:active {
  background-color: var(--link-hover);
  color: var(--text-color-primary);
}
