<footer class="text-bg-dark d-flex justify-content-around align-items-center flex-column flex-md-row py-5 px-2 mt-5">
  <section class="mb-5 mb-md-0">
    <p class="text-secondary m-0">حقوق النشر محفوظة © 2023 : سعود الغامدي.</p>
  </section>

  <section class="d-flex flex-column justify-content-center align-items-center">
    <div class="mb-3">
      <p class="text-center">يمكنكم التواصل معي بخصوص أي موضوع عبر المنصات التالية:</p>
    </div>
    <div>
      <!-- WhatsApp -->
      <a
        class="btn btn-link btn-floating btn-lg brand-link p-2"
        href="https://wa.me/966566611078
    "
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="social-media-icon fab fa-whatsapp fa-lg"></i
      ></a>
      <!-- Telegram -->
      <a class="btn btn-link btn-floating btn-lg brand-link p-2" href="https://telegram.me/SaudAlghamdi97" role="button" data-mdb-ripple-color="dark"><i class="social-media-icon fab fa-telegram fa-lg"></i></a>
      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg brand-link p-2" href="https://twitter.com/Saudgh1997" role="button" data-mdb-ripple-color="dark"><i class="social-media-icon fab fa-twitter fa-lg"></i></a>
      <!-- LinkedIn -->
      <a class="btn btn-link btn-floating btn-lg brand-link p-2" href="https://www.linkedin.com/in/saud-alghamdi-b343a1228/" role="button" data-mdb-ripple-color="dark"><i class="social-media-icon fab fa-linkedin fa-lg"></i></a>
      <!-- Mail -->
      <a class="btn btn-link btn-floating btn-lg brand-link p-2" href="mailto:saudalghamdi1997@gmail.com" role="button" data-mdb-ripple-color="dark"><i class="social-media-icon fa-sharp fa-solid fa-envelope"></i></a>
      <!-- GitHub -->
      <a class="btn btn-link btn-floating btn-lg brand-link p-2" href="https://github.com/Saud-Alghamdi" role="button" data-mdb-ripple-color="dark"><i class="social-media-icon fab fa-github fa-lg"></i></a>
    </div>
  </section>
</footer>
