<footer class="bg-dark text-light d-flex justify-content-center align-items-center py-3 flex-wrap">
  <small class="m-2 mx-md-5">المطوّر: سعود الغامدي</small>
  <small class="m-2 mx-md-5">حقوق النشر © 2023</small>
  <div class="d-flex justify-content-center align-items-center m-2 mx-md-5">
    <a href="#"><i class="fa-brands fa-twitter mx-2 fs-5"></i></a>
    <a href="#"><i class="fa-brands fa-github mx-2 fs-5"></i></a>
    <a href="#"><i class="fa-brands fa-whatsapp mx-2 fs-5"></i></a>
  </div>
</footer>
