<nav class="navbar navbar-expand-md bg-light py-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/seu-logo.png" alt="Placeholder" width="50" height="50" class="navbar-logo d-inline-block align-text-top" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-md-center align-items-md-center">
        <li class="nav-item px-md-2">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item px-md-2">
          <a class="nav-link" href="/departments">Departments</a>
        </li>
        <li class="nav-item px-md-2 me-auto">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <!-- if Logged in -->
        <% if(typeof user !== 'undefined') { %>
        <li class="nav-item px-md-2">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%=user.username%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="/images/male-icon.svg" alt="Placeholder" width="40" height="40" />
          </a>
        </li>
        <!-- if NOT Logged in -->
        <% } else { %>
        <li class="nav-item px-md-2">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
