<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Posts</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <!-- Loader runs while adding post process -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="add-post-page-container__main position-relative container flex-grow-1 text-light">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" href="#" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long fs-4"></i>
      </a>

      <header class="text-center">
        <h1>إضافة منشور:</h1>
      </header>

      <form enctype="multipart/form-data" class="add-post-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="mb-3">
          <label for="" class="form-label">العنوان:</label>
          <input name="title" type="text" class="title-input form-control" id="title" maxlength="60" />
          <span class="error-message error-message-title-input"></span>
        </div>
        <div class="mb-3">
          <label for="document" class="form-label">الملف: <small>فقط يقبل (PDF, Word, Powerpoint)</small></label>
          <input type="file" class="file-input" accept=".pdf, .ppt, .pptx, .doc, .docx" />
          <span class="error-message error-message-file-input"></span>
        </div>
        <button id="submitButton" type="submit" class="add-post-page-container__button btn btn-lg d-block mx-auto mt-4">إضافة</button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <!-- Send file to server -->
  <script src="/js/sendFileToServer.js"></script>
</html>
