<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>User Dashboard</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <main class="dashboard-page-container__main position-relative container text-center text-light flex-grow-1">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" href="#" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long fs-4"></i>
      </a>

      <header>
        <h1>Dashboard:</h1>
      </header>

      <form action="" class="mt-5">
        <button class="dashboard-page-container__button btn btn-lg">Manage Posts</button>
      </form>
      <form action="">
        <button class="dashboard-page-container__button btn btn-lg">Manage Account Information</button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
