<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Departments</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="departments-page-container__main container flex-grow-1 text-center text-light my-4">
      <header>
        <h1>التخصصات:</h1>
      </header>

      <div class="departments-flex-container mt-5 d-flex justify-content-center flex-wrap">
        <div class="departments-page-container__department border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-5" href="/departments/CS/courses">علوم الحاسب</a>
        </div>
        <div class="departments-page-container__department border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-5" href="/departments/IT/courses">تقنية المعلومات</a>
        </div>
        <div class="departments-page-container__department border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-5" href="/departments/DS/courses">علوم البيانات</a>
        </div>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
