<html lang="en">
<head>
	<%- include('partials/head.ejs') %>
	<title>Faculties</title>
</head>
<body class="d-flex flex-column">

	<%- include('partials/nav.ejs') %>
    
  <main class="faculties-page-container__main container flex-grow-1 text-center text-light my-4">
    <header>
      <h1>Faculties:</h1>
    </header>

    <div class="faculties-flex-container mt-5 d-flex justify-content-center flex-wrap">
      <div class="faculties-page-container__faculty border-dark rounded-5 p-2 m-1">
        <a class="faculty-link d-flex justify-content-center  align-items-center text-light fs-5" href="/faculties/afs">Administrative and Financial Sciences</a>
      </div>
      <div class="faculties-page-container__faculty border-dark rounded-5 p-2 m-1">
        <a class="faculty-link d-flex justify-content-center  align-items-center text-light fs-5" href="/faculties/ci">Computing and Informatics</a>
      </div>
      <div class="faculties-page-container__faculty border-dark rounded-5 p-2 m-1">
        <a class="faculty-link d-flex justify-content-center  align-items-center text-light fs-5" href="/faculties/hs">Health Sciences</a>
      </div>
      <div class="faculties-page-container__faculty border-dark rounded-5 p-2 m-1">
        <a class="faculty-link d-flex justify-content-center align-items-center text-light fs-5" href="/faculties/sts">Science and Theoritical Studies</a>
      </div>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
	
</body>
</html>