<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>طلاب SEU - الرئيسية</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="index-page-container__main container text-center text-light flex-grow-1 my-4">
      <header class="">
        <h1>مرحبًا طلاب الجامعة السعودية الإلكترونية!</h1>
        <p class="index-page-container__paragraph my-5">
          أهلًا بكم في الموقع الإلكتروني الخاص بطلاب الجامعة السعودية الإلكترونية، حيث هدفنا من بناء هذا الموقع هو توفير منصة تمكّن الطلاب من الوصول بسهولة إلى الملفات المتعلقة بالمواد الدراسية.
          <br />
          <br />
          نعتقد أن هذا ليس فقط يعزز تجربة التعلم الخاصة بك، بل سيجعلها أكثر سهولة وكفاءة،
          <br />
          <br />
          نحن ملتزمون بتحديث نظامنا الأساسي وتحسينه باستمرار لخدمتكم بشكل أفضل، ونأمل لكم أفضل التجارب.
        </p>
      </header>

      <!-- if the user has just logged in -->
      <% if(typeof justLoggedIn !== 'undefined' && typeof toastMsg !== 'undefined') { %>
      <script>
        showToast(true, "<%= toastMsg %>");
      </script>
      <% } %>

      <!-- If not logged in -->
      <% if(typeof user === 'undefined') { %>
      <form class="mt-5" action="/signup" method="GET">
        <button class="index-page-container__button btn btn-lg">التسجيل</button>
      </form>
      <form action="/login" method="GET">
        <button class="index-page-container__button btn btn-lg">تسجيل الدخول</button>
      </form>
      <a href="/departments" class="index-page-container__skip-link d-block mt-4">المتابعة بدون تسجيل دخول</a>
      <% } %>

      <section class="my-5">
        <h4 class="text-end fw-bolder">&#10033; مَن الفئة المستهدفة في هذا الموقع؟</h4>
        <p class="mt-3 text-end">
          حاليًا الموقع يستهدف طلاب كلية الحوسبة والمعلوماتية.
          <br />
          سيتم دعم باقي الكليات مستقبلًا.
        </p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder">&#10033; ما الفائدة من بناء هذا الموقع؟</h4>
        <p class="mt-3 text-end">تسهيل الوصول إلى الملفات المتعلقة بالمواد الدراسية.</p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder">&#10033; مَن سيقوم برفع الملفات؟</h4>
        <p class="mt-3 text-end">
          الطلاب أنفسهم هم من سيقومون برفع الملفات.
          <br />
          عزيزي الطالب، أي ملف تشعر أنه سيفيد باقي الطلاب، سجل دخول وارفعه على المنصة هنا.
          <br />
          <br />
          يمكن مشاركة ملفات مفيدة مثل:
          <br />
          • كتاب
          <br />
          • سلايدات
          <br />
          • تيست بانك
          <br />
          • حلول أسايمنتات، كويزات، واجبات
          <br />
          <br />
          وغيرها الكثير من الملفات المفيدة للطالب خلال دراسته للمادة.
        </p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder">&#10033; رحلة الطالب داخل الموقع:</h4>
        <p class="mt-3 text-end">
          يختار الطالب تخصصه، ثم بعد ذلك ستظهر له جميع المواد المندرجة تحت هذا التخصص.
          <br />
          بعد ذلك يختار الطالب المادة التي يريد أن يبحث عن ملف متعلق بها، ككتاب المادة مثلًا.
          <br />
          بعد الضغط على المادة، ستظهر له جميع الملفات المتعلقة بهذه المادة.
          <br />
          الملفات ستظهر على شكل منشورات، بمجرد الضغط على المنشور سيتم تحميل الملف تلقائيًا على جهازك والاستفادة منه.
        </p>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
