<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>SEU Students</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="index-page-container__main container text-center text-light flex-grow-1 my-4">
      <header class="">
        <h1>مرحبًا طلاب الجامعة السعودية الإلكترونية!</h1>
      </header>

      <p class="index-page-container__paragraph my-5">
        أهلًا بكم في الموقع الإلكتروني الخاص بطلاب الجامعة السعودية الإلكترونية، حيث هدفنا من بناء هذا الموقع هو توفير منصة تمكّن الطلاب من الوصول بسهولة إلى الملفات المتعلقة بالمواد الدراسية. نعتقد أن هذا ليس فقط يعزز تجربة التعلم الخاصة بك، بل
        سيجعلها أكثر سهولة وكفاءة، ونحن ملتزمون بتحديث نظامنا الأساسي وتحسينه باستمرار لخدمتكم بشكل أفضل. شكرًا لإختيارك لنا ونأمل لكم أفضل التجارب.
      </p>

      <!-- if the user has just logged in (to show him log in successful toast)-->
      <% if(typeof user !== 'undefined' && typeof loginSuccess !== 'undefined' && loginSuccess === true) { %>
      <script>
        showToast(true, "<%= msg %>");
      </script>
      <% } %>

      <!-- If not logged in -->
      <% if(typeof user === 'undefined') { %>
      <form action="/signup" method="GET">
        <button class="index-page-container__button btn btn-lg">التسجيل</button>
      </form>
      <form action="/login" method="GET">
        <button class="index-page-container__button btn btn-lg">تسجيل الدخول</button>
      </form>
      <a href="/departments" class="index-page-container__skip-link d-block mt-4">المتابعة بدون تسجيل دخول</a>
      <% } %>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
