<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Posts</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <main class="posts-page-container__main container flex-grow-1 text-center text-light">
      <header>
        <h1>Latest Posts:</h1>
      </header>

      <div class="posts-flex-container container mt-4 d-flex justify-content-center justify-content-lg-between flex-wrap text-dark px-md-5">
        <div class="posts-page-container__post d-flex flex-column border-dark rounded-4 px-2 px-md-4 m-2">
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <h6 class="d-inline mx-2">
              <a class="" href="#">IT244 Test Bank First Term 2023</a>
            </h6>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/male-icon.svg" alt="" height="30" width="30" />
            <p class="d-inline my-0 mx-2">Ali_6x2</p>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <p>2022/05/17 16:04</p>
          </div>
        </div>

        <div class="posts-page-container__post d-flex flex-column border-dark rounded-4 px-2 px-md-4 m-2">
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <h6 class="d-inline  mx-2">
              <a class="" href="#">IT244 Test Bank First Term 2023</a>
            </h6>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/male-icon.svg" alt="" height="30" width="30" />
            <p class="d-inline my-0 mx-2">Ali_6x2</p>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <p>2022/05/17 16:04</p>
          </div>
        </div>

        <div class="posts-page-container__post d-flex flex-column border-dark rounded-4 px-2 px-md-4 m-2">
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <h6 class="d-inline  mx-2">
              <a class="" href="#">IT244 Test Bank First Term 2023</a>
            </h6>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <img src="/images/female-icon.svg" alt="" height="30" width="30" />
            <p class="d-inline my-0 mx-2">Ali_6x2</p>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <p>2022/05/17 16:04</p>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
