<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>SEU Students</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="signup-page-container__main container flex-grow-1 text-light my-4">
      <header class="text-center">
        <h1>Sign up</h1>
      </header>
<!-- 
      {{-- @if ($errors->any())
      <div class="server-side-error-div border border-danger rounded-3 px-4 mx-auto mt-3">
        <ul>
          @foreach ($errors->all() as $error)
          <li class="server-side-error-msg mt-2">
            <strong>{{ $error }}</strong>
          </li>
          @endforeach
        </ul>
      </div>
      @endif --}} -->

      <form action="/user-signup" method="POST" class="form signup-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="form__input-group mb-3">
          <label for="" class="form-label">Username:</label>
          <input name="username" type="text" class="input-field field username-field form-control" />
          <span class="error-message"></span>
        </div>
        <div class="form__input-group mb-3">
          <label for="" class="form-label">Email address:</label>
          <input name="email" type="email" class="input-field field email-field form-control" aria-describedby="emailHelp" />
          <span class="error-message"></span>
        </div>
        <div class="form__input-group mb-3">
          <label for="" class="form-label">Password:</label>
          <input name="password" type="password" class="input-field field password-field form-control" max="30" />
          <span class="error-message"></span>
        </div>
        <div class="form__input-group">
          <span class="error-message"></span>
          <div class="form-check">
            <input name="gender" class="input-field radio-field male-radio-field form-check-input" type="radio" value="male" />
            <label class="form-check-label" for=""> Male </label>
          </div>
          <div class="form-check mb-3">
            <input name="gender" class="input-field radio-field female-radio-field form-check-input" type="radio" value="female" />
            <label class="form-check-label" for=""> Female </label>
            <span class="error-message"></span>
          </div>
        </div>
        <button type="submit" class="signup-page-container__button btn btn-lg d-block mx-auto mt-4">Sign up</button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
